[Unit]
Description=genereates a new background

[Service]
User=magic
WorkingDirectory=%h/Gits/Mine/background-quote-genereator
ExecStart=script.py
Restart=always

[Install]
WantedBy=multi-user.target
